/* global variables & sets: */
:root {
  /* colours: */
  --bg: rgb(253, 253, 253);
  --primary: rgb(60, 60, 60);
  --secondary: rgb(120, 120, 120);
  --tertiary: rgb(240, 240, 240);
}

html {
  text-transform: lowercase;
  background-color: var(--bg);

  font-size: 14px;
}

/* font-loads: */
/* #region */
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreya_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreya_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreya_bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreya_light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: "alegreya";
  src: url("../fonts/alegreya_light-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: "fira-code";
  src: url("../fonts/fira-code_regular.woff2");
  font-style: normal;
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: "alegreya-sans";
  src: url("../fonts/alegreya-sans_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "alegreya-sans";
  src: url("../fonts/alegreya-sans_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "alegreya-sans";
  src: url("../fonts/alegreya-sans_bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: "alegreya-sans";
  src: url("../fonts/alegreya-sans_light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: "alegreya-sans";
  src: url("../fonts/alegreya-sans_light-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: block;
}
/* #endregion */

/* font-sets: */
/* #region */
body {
  font-family: "alegreya";
}

h1,
h2,
h3,
p,
li {
  font-family: "alegreya";
  color: var(--primary);
  margin: 0.5em 0;
}

.remark-slide-content h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2em;
}
.remark-slide-content h2 {
  font-weight: 500;
  font-size: 2rem;
}

figcaption {
  font-family: "alegreya-sans";
  color: var(--secondary);
  font-weight: 400;
  font-size: 0.8rem;
  border-left: 0.25em solid var(--secondary);
  padding-left: 0.6em;
  text-align: left; 
}
li {
  font-size: 1rem;
  list-style-type: square;
}
p {
  font-size: 1rem;
}

/* images: */
figure {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  justify-content: center;
}

.two{
  display: flex; 
  justify-content: space-between; 
  gap: auto;
  background-color: red; 
}


hr {
  all: unset;
  display: block;
  height: 2px;
  background-color: var(--tertiary);
  margin: 1rem 0;
}

/* code stuff: */
.remark-code,
.remark-inline-code {
  font-family: "fira-code";
  font-size: 0.8rem;
}
.hljs-default .hljs,
.hljs-default .hljs-subst {
  background-color: var(--bg);
  padding: 1rem;
}

/* endregion */

/* outside boundary */
.remark-slide-container {
  background-color: var(--tertiary);
}
.remark-slide-scaler {
  border: 1px solid var(--tertiary);
  box-shadow: 0 0 0 0;
}

.remark-slide-content {
  background-color: var(--bg);
}
