/* from remark: */

/* body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; } */

/* font-loads: */
/* #region */
@font-face {
  font-family: "alegreya";
  src: url("/assets/alegreya_bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "alegreya";
  src: url("/assets/alegreya_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "alegreya";
  src: url("/assets/alegreya_bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: "alegreya";
  src: url("/assets/alegreya_light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: "alegreya";
  src: url("/assets/alegreya_light-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: "fira-code";
  src: url("/assets/fonts/fira-code_regular.woff2");
  font-style: normal;
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: "alegreya-sans";
  src: url("/assets/fonts/alegreya-sans_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "alegreya-sans";
  src: url("/assets/alegreya-sans_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "alegreya-sans";
  src: url("/assets/alegreya-sans_bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: "alegreya-sans";
  src: url("/assets/alegreya-sans_light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: block;
}
@font-face {
  font-family: "alegreya-sans";
  src: url("/assets/alegreya-sans_light-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: block;
}
/* #endregion */

/* font-sets: */
/* #region */
body {
  font-family: "alegreya";
}

h1,
h2,
h3,
p {
  font-family: "alegreya";
  color: var(--primary);
  line-height: 1.2em;
  margin: 0.5em 0;
}

.remark-slide-content h1 {
  font-weight: 500;
  font-size: 3rem;
  color: var(--primary);
}

figcaption {
  font-family: "alegreya-sans";
  color: var(--secondary);
  font-weight: 400;
  font-size: 0.8rem;
  border-left: 0.25em solid var(--secondary);
  padding-left: 0.6em;
}

/* code stuff: */
.remark-code,
.remark-inline-code {
  font-family: "fira-code";
  font-size: 0.8rem;
}
.hljs-default .hljs,
.hljs-default .hljs-subst {
  padding: 1rem;
}

/* endregion */

/* global variables & sets: */
:root {
  /* colours: */
  --bg: rgb(253, 253, 253);
  --primary: rgb(60, 60, 60);
  --secondary: rgb(120, 120, 120);
  --tertiary: rgb(240, 240, 240);
}

html {
  text-transform: lowercase;
  background-color: var(--bg);
}

/* outside boundary */
.remark-slide-container {
  background-color: var(--tertiary);
}
.remark-slide-scaler {
  border: 1px solid var(--tertiary);
  box-shadow: 0 0 0 0;
}

.remark-slide-content {
  background-color: var(--bg);
}



